@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 1s ease, color 1s ease;
  min-height: 100vh;
  height: 100%;
}

.Main {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
  padding: 20px;
}

.left-banner,
.right-banner {
  z-index: 1;
  display: flex;
  position: flex;
  height: 100vh;
  object-fit: cover;
}

.left-banner img,
.right-banner img {
  height: 100%;
  max-width: 100h;
}

.left-banner {
  left: 0;
  z-index: 1;
}

.right-banner {
  right: 0;
  transform: rotate(180deg);
}

.horizontal-ad {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.horizontal-ad img {
  position: absolute;
  max-height: 200px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: rotate(90deg);
}

@media (max-width: 1024px) {
  .right-banner,
  .left-banner {
    display: none;
  }
}
