@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 1s ease, color 1s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.App {
  display: flex;
  position: relative;
  flex-direction: row;
  flex: 1 0 auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.ad {
  display: none;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
}

.ad-left {
  left: 0;
}

.ad-right {
  right: 0;
}

@media (min-width: 1024px) {
  .ad {
    display: block;
  }
}
