/* App.css */
@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 1s ease, color 1s ease;
  min-height: 100vh;
  height: 100%;
}

.Main {
  display: flex;
  position: relative;
  flex-direction: row;
  /* flex: 1; */
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
  flex-direction: column;
  /* margin-left: 220px; */
  /* margin-right: 220px; */
  /* padding: 20px; */
  /* max-width: calc(100% - 2 * 220px); */
}

.ad-left,
.ad-right {
  position: fixed;
  height: 100vh;
  display: flex;
  object-fit: cover;
}

/* .ad-left img, */
/* .ad-right img { */
/*   height: 100%; */
/* } */

.ad-left {
  left: 0;
}

.ad-right {
  right: 0;
}

/* @media (min-width: 1024px) { */
/*   .ad-left, */
/*   .ad-right { */
/*     display: block; */
/*   } */
/* } */
