@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 1s ease, color 1s ease;
}

.ads-container {
  height: 100%;
  width: auto;
  display: flex;
}

.add {
  height: 162%;
  width: auto;
  display: flex;
}
