@import "./variables.css";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-08);
  min-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: top 0.3s ease-in-out; /* Add transition here */
}

.header.hidden {
  top: -60px; /* Remove transform, add top */
}

.header .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* You can adjust this value according to your preference */
  padding: 0 16px;
}

.container {
  display: flex;
  padding: 6px;
  width: 100%;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: var(--color-gray-32);
  /* filter: brightness(70%); */
  margin-left: 10px;
  font-size: 16px;
}

.link:hover {
  color: var(--color-highlight);
  text-decoration: underline;
}

.dark-mode-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 10px;
  margin-left: 10px;
}

.dark-mode-toggle:hover {
  color: var(--color-logo-blue);
}

.login-form-container {
  position: fixed;
  top: 52px;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--color-gray-08);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.login-form-container.open {
  right: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 10px; */
  /* margin-right: 10px; */
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  padding-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-08);
  position: absolute;
  top: 52px;
  left: 0;
  /* width: 100%; */
  width: 300px;
  height: calc(100vh - 60px);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.menu.open {
  transform: translateX(0%);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
  font-size: 18px;
  color: var(--color-gray-7);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.menu ul li:hover {
  background-color: var(--color-gray-3);
  border-radius: 20px;
}

.search {
  order: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--color-gray-11); */
  border-radius: 20px;
  padding: 0px 4px;
  flex-grow: 1;
  max-width: 800px;
  min-width: 160px;
}

.search input {
  background-color: var(--color-gray-10);
  color: var(--color-white-1);
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  border: none;
  display: flex;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.searchIcon {
  padding: 0 5px;
}

.search input:hover {
  background-color: var(--color-gray-11);
  border-radius: 20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* flex-basis: 0; */
  font-size: 20px;
  padding: 0px 6px;
}

.icon {
  padding: 0px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

/* .icon:hover { */
/*   background-color: var(--color-gray-11); */
/*   border-radius: 20px; */
/* } */

.icon:hover {
  color: var(--color-logo-blue);
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  max-width: calc(100% - 200px);
  flex-wrap: nowrap;
  flex: 1;
}

/* .userIcon { */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: space-between; */
/*   padding: 6px; */
/* } */

.logo {
  width: auto;
  height: 52px;
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .header .container {
    flex-direction: row-reverse;
    padding: 0 8px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .link {
    display: none;
    flex-wrap: wrap;
  }

  .icon {
    font-size: 18px;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
  }
  .logoContainer {
    order: 0;
    width: auto;
    flex-wrap: wrap;
  }

  .logo {
    height: 40px;
    flex-wrap: wrap;
  }

  .search {
    order: 4;
    width: 100%;
  }

  .icons {
    order: 1;
    font-size: 22px;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .icon {
    font-size: 22px;
  }

  .header {
    display: flex;
    justify-content: start;
    align-items: start;
  }
}
