.container {
  display: flex;
  align-items: center;
  background-color: #394551;
  justify-content: space-between;
  padding: 6px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #394551;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.menu.open {
  transform: translateX(0%);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.menu ul li:hover {
  background-color: #556677;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #394551;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
}

.search input {
  background-color: #728192;
  color: #fff;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  border: none;
  display: flex;
  border-radius: 20px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}
