@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 1s ease, color 1s ease;
  min-height: 100vh;
  height: 100%;
}

.Main {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
}

.left-banner,
.right-banner {
  z-index: 1;
  display: flex;
  position: flex;
  height: 100vh;
  object-fit: cover;
}

.left-banner img,
.right-banner img {
  height: 100%;
  max-width: 100h;
}

.left-banner {
  left: 0;
  z-index: 1;
}

.right-banner {
  right: 0;
  transform: rotate(180deg);
}

.banner {
  /* background-color: #000; */
  height: 22vh;
  /* height: 300px; */
  width: 100%;
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* overflow: hidden; */
}

.banner img {
  position: flex;
  max-height: 100%;
  max-width: 100vw;
  /* max-width: 100%; */
}

.non-blurred-background,
.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.blurred-background {
  filter: blur(256px);
  z-index: -1;
}

@media (max-width: 1024px) {
  .right-banner,
  .left-banner {
    display: none;
  }
}

@media (max-width: 768px) {
  .right-banner,
  .left-banner {
    display: none;
  }

  .content {
    padding: 10px;
  }

  /* .banner { */
  /*   max-width: 100vw; */
  /* } */

  /* .banner img { */
  /*   max-width: 100vw; */
  /* } */
}
