@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  transition: background-color 1s ease, color 1s ease;
  min-height: 100vh;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

h2 {
  color: var(--color-blue);
  font-size: 18px;
}

h2:hover {
  color: var(--color-green);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

h3 {
  color: var(--color-green);
  font-size: 16px;
}

h3:hover {
  color: var(--color-blue);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.subtitle-container {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
}

.Main {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  flex-direction: column;
}

.left-banner,
.right-banner {
  z-index: 1;
  display: flex;
  position: flex;
  height: 100vh;
  object-fit: cover;
}

.left-banner img,
.right-banner img {
  height: 100%;
  max-width: 100h;
}

.left-banner {
  left: 0;
  z-index: 1;
}

.right-banner {
  right: 0;
  transform: rotate(180deg);
}

.banner {
  min-height: 22%;
  max-height: 24%;
  width: 100%;
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* overflow: hidden; */
}

.banner img {
  position: flex;
  max-height: 100%;
  max-width: 100%;
}

.non-blurred-background,
.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.blurred-background {
  filter: blur(100px);
  z-index: -1;
}

@media (max-width: 1024px) {
  .right-banner,
  .left-banner {
    display: none;
  }
}

@media (max-width: 768px) {
  .right-banner,
  .left-banner {
    display: none;
  }

  .content {
    padding: 10px;
  }

  /* .banner { */
  /*   max-width: 100vw; */
  /* } */

  /* .banner img { */
  /*   max-width: 100vw; */
  /* } */
}
