@import "./variables.css";

.s4 {
  color: var(--color-gray-32);
  font-size: 13px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
}

.s3-1 {
  color: var(--color-green);
  /* color: rgba(0, 128, 0, 0.9); */
  font-weight: 600;
  font-size: 13px;
  margin-left: 13px;
  margin-right: 10px;
}

.s3 {
  color: var(--color-green);
  /* color: rgba(0, 128, 0, 0.9); */
  font-weight: 400;
  font-size: 13px;
  margin-left: 30px;
  margin-bottom: 6px;
  margin-right: 10px;
}

.s2 {
  color: var(--color-gray-32);
  font-size: 15px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-top: 6px;
  font-weight: 500;
  margin-right: 10px;
}

.s1 {
  color: var(--color-blue);
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 12px;
}

.base-info-display {
  /* background-color: var(--color-gray-04); */
  /* height: 450px; */
  /* width: 100%; */
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.base-info-container {
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  height: 456px;
  width: 260px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-05);
  border-radius: 12px;
}

.base-info-item {
  flex-grow: 1;
  position: relative;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  justify-content: center;
  object-fit: contain;
  /* width: 30%; */
  /* height: 100%; */
}

.base-info-item img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 6px;
  width: 240px;
  height: 240px;
  border-radius: 20px;
}
