@import "./variables.css";

.brandContainer {
  background-color: var(--color-gray-08);
  min-height: 136px;
  max-height: 136px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  position: relative;
  object-fit: contain;
}

.brandContainer img {
  max-height: 128px;
  max-width: 128px;
  width: auto;
  height: auto;
  object-fit: contain;
  margin-left: 12px;
}

.brandContainer img:hover {
  transform: scale(1.2);
  object-fit: contain;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}
