@import "./variables.css";

.footer {
  display: block;
  position: relative;
  z-index: 101;
  background-color: var(--color-gray-14);
  color: var(--color-fg);
  text-align: center;
  padding: 1rem;
  pointer-events: none;
}

/* .footer-visible { */
/*   opacity: 1; */
/*   pointer-events: auto; */
/* } */
