@import "./variables.css";

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  flex: 1;
}

.buttons-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.buttons-container-google {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.buttons-container-fb {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.buttons-container button {
  color: var(--color-gray-01);
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-green);
  min-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-container-google button {
  color: var(--color-fb);
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #dd4b39;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-container-fb button {
  color: var(--color-fb);
  padding: 0.5rem;
  font-size: 1rem;
  min-width: 200px;
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.spacer {
  height: 10px;
}

.buttons-container button:hover {
  background-color: #0056b3;
}

.buttons-container-google button:hover {
  background-color: #c23321;
}

.buttons-container-fb button:hover {
  background-color: #0075e9;
}
