@import "./variables.css";

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container {
  flex-direction: column;
  display: flex;
  /* background-color: #008; */
  justify-content: center;
  align-items: center;
}

.form-container {
  flex: 1;
}

.buttons-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.buttons-container button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--color-green);
  min-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-container button:hover {
  background-color: #0056b3;
}

.google-login {
  background-color: #dd4b39;
}

.google-login:hover {
  background-color: #c23321;
}
