.light-mode {
  --color-bg: #dcdfe4;
  --color-gray-01: hsl(220, 12%, 96.875%);
  --color-gray-02: hsl(220, 12%, 93.75%);
  --color-gray-03: hsl(220, 12%, 90.625%);
  --color-gray-04: hsl(220, 12%, 87.5%);
  --color-gray-05: hsl(220, 12%, 84.375%);
  --color-gray-06: hsl(220, 12%, 81.25%);
  --color-gray-07: hsl(220, 12%, 78.125%);
  --color-gray-08: hsl(220, 12%, 75%);
  --color-gray-09: hsl(220, 12%, 71.875%);
  --color-gray-10: hsl(220, 12%, 68.75%);
  --color-gray-11: hsl(220, 12%, 65.625%);
  --color-gray-12: hsl(220, 12%, 62.5%);
  --color-gray-13: hsl(220, 12%, 59.375%);
  --color-gray-14: hsl(220, 12%, 56.25%);
  --color-gray-15: hsl(220, 12%, 53.125%);
  --color-gray-16: hsl(220, 12%, 50%);
  --color-gray-17: hsl(220, 12%, 46.875%);
  --color-gray-18: hsl(220, 12%, 43.75%);
  --color-gray-19: hsl(220, 12%, 40.625%);
  --color-gray-20: hsl(220, 12%, 37.5%);
  --color-gray-21: hsl(220, 12%, 34.375%);
  --color-gray-22: hsl(220, 12%, 31.25%);
  --color-gray-23: hsl(220, 12%, 28.125%);
  --color-gray-24: hsl(220, 12%, 25%);
  --color-gray-25: hsl(220, 12%, 21.875%);
  --color-gray-26: hsl(220, 12%, 18.75%);
  --color-gray-27: hsl(220, 12%, 15.625%);
  --color-gray-28: hsl(220, 12%, 12.5%);
  --color-gray-29: hsl(220, 12%, 9.375%);
  --color-gray-30: hsl(220, 12%, 6.25%);
  --color-gray-31: hsl(220, 12%, 3.125%);
  --color-gray-32: hsl(220, 12%, 0%);
  --color-fg: var(--color-gray-01);
  --color-fg: var(--color-gray-32);
  --color-red: #e05661;
  --color-orange: #ee9025;
  --color-yellow: #eea825;
  --color-green: #1da912;
  --color-light-green: #98c379;
  --color-cyan: #56b6c2;
  --color-blue: #118dc3;
  --color-purple: #9a77cf;
  --color-white: #fafafa;
  --color-black: #6a6a6a;
  --color-gray: #bebebe;
  --color-highlight: #e2be7d;
  --color-comment: #9b9fa6;
  --color-white-1: var(--color-gray-01);
  --color-logo-blue: #0066d1;
}

.dark-mode {
  --color-gray-01: hsl(220, 12%, 3.125%);
  --color-gray-02: hsl(220, 12%, 6.25%);
  --color-gray-03: hsl(220, 12%, 9.375%);
  --color-gray-04: hsl(220, 12%, 12.5%);
  --color-gray-05: hsl(220, 12%, 15.625%);
  --color-gray-06: hsl(220, 12%, 18.75%);
  --color-gray-07: hsl(220, 12%, 21.875%);
  --color-gray-08: hsl(220, 12%, 25%);
  --color-gray-09: hsl(220, 12%, 28.125%);
  --color-gray-10: hsl(220, 12%, 31.25%);
  --color-gray-11: hsl(220, 12%, 34.375%);
  --color-gray-12: hsl(220, 12%, 37.5%);
  --color-gray-13: hsl(220, 12%, 40.625%);
  --color-gray-14: hsl(220, 12%, 43.75%);
  --color-gray-15: hsl(220, 12%, 46.875%);
  --color-gray-16: hsl(220, 12%, 50%);
  --color-gray-17: hsl(220, 12%, 53.125%);
  --color-gray-18: hsl(220, 12%, 56.25%);
  --color-gray-19: hsl(220, 12%, 59.375%);
  --color-gray-20: hsl(220, 12%, 62.5%);
  --color-gray-21: hsl(220, 12%, 65.625%);
  --color-gray-22: hsl(220, 12%, 68.75%);
  --color-gray-23: hsl(220, 12%, 71.875%);
  --color-gray-24: hsl(220, 12%, 75%);
  --color-gray-25: hsl(220, 12%, 78.125%);
  --color-gray-26: hsl(220, 12%, 81.25%);
  --color-gray-27: hsl(220, 12%, 84.375%);
  --color-gray-28: hsl(220, 12%, 87.5%);
  --color-gray-29: hsl(220, 12%, 90.625%);
  --color-gray-30: hsl(220, 12%, 93.75%);
  --color-gray-31: hsl(220, 12%, 96.875%);
  --color-gray-32: hsl(220, 12%, 100%);
  --color-bg: var(--color-gray-03);
  --color-fg: var(--color-gray-32);
  --color-red: #e06c75;
  --color-orange: #d19a66;
  --color-yellow: #e5c07b;
  --color-green: #98c379;
  --color-light-green: var(--color-green);
  --color-cyan: #56b6c2;
  --color-blue: #61afef;
  --color-purple: #c678dd;
  --color-white: #abb2bf;
  --color-black: #282c34;
  --color-gray: #5c6370;
  --color-highlight: #e2be7d;
  --color-comment: #7f848e;
  --color-white-1: var(--color-gray-32);
  --color-logo-blue: var(--color-blue);
}

/*# sourceMappingURL=variables.css.map */
