[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=db
Group=www-data
WorkingDirectory=/home/db/tuxTech/src
ExecStart=/home/db/tuxTech/src/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/db/tuxTech/src/storeServer.sock storeServer.wsgi:application

[Install]
WantedBy=multi-user.target
