server {
    server_name gldb.dev www.gldb.dev;
    return 301 https://$host$request_uri;

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/gldb.dev/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/gldb.dev/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = www.gldb.dev) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 8443 ssl;
    server_name gldb.dev www.gldb.dev;

    ssl_certificate /etc/letsencrypt/live/gldb.dev/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/gldb.dev/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    # Serve static and media files
    location /static {
        alias /var/www/TuxTech/static;
    }

    location /media {
        alias /var/www/TuxTech/media;
    }

    # Proxy API requests to Django
    location /api {
        proxy_pass http://0.0.0.0:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # Serve the React app
    location / {
        root /var/www/TuxTech/;
        try_files $uri /index.html;
    }
}

server {
    if ($host = gldb.dev) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name gldb.dev www.gldb.dev;
    return 301 https://$host$request_uri;
}
