django~=4.1.7
django-rest-framework
djangorestframework-simplejwt
django-cacheops
django-stubs
django-cors-headers
django-countries
django-cities
python-barcode
qrcode~=7.4.2
whitenoise
pillow~=9.4.0
psycopg2
djangorestframework~=3.14.0
django-two-factor-auth
phonenumbers
django-otp
