django
django-rest-framework
djangorestframework-simplejwt
django-cacheops
django-stubs
django-cors-headers
django-countries
django-cities
python-barcode
qrcode
whitenoise
pillow
psycopg2
djangorestframework~=3.14.0
django-two-factor-auth
phonenumbers
django-otp
