name: Django CI

on:
  push:
    branches: ["main", "dev", "impl_vAlpha"]
  pull_request:
    branches: ["main", "dev", "impl_vAlpha"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9, 3.11]

    services:
      postgres:
        image: postgis/postgis:14-3.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123
          POSTGRES_DB: djangodev
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install system dependencies
        run: sudo apt-get install -y gdal-bin
      - name: Detecting source dir
        run: |
          cd ./src && find manage.py
      - name: Install Dependencies
        run: |
          cd ./src
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          - name: Run makemigrations
            run: |
              cd ./src
              python manage.py makemigrations
          - name: Run migrate
            run: |
              cd ./src
              python manage.py migrate
          - name: Run Tests
            run: |
              cd ./src
              python manage.py test
