name: Django CI

on:
  push:
    branches: ["main", "dev", "impl_vAlpha0.1"]
  pull_request:
    branches: ["main", "dev", "impl_vAlpha0.1"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Detecting source dir
        run: |
          cd ./src && find manage.py
      - name: Install Dependencies
        run: |
          cd ./src
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Tests
        run: |
          cd ./src
          python manage.py test
