name: Node.js CI

on:
  push:
    branches: ["main", "dev", "impl_vAlpha0.1"]
  pull_request:
    branches: ["main", "dev", "impl_vAlpha0.1"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./src/website/package-lock.json
      - name: Install dependencies
        run: |
          npm ci
        working-directory: ./src/website
      - name: Build
        run: |
          CI=false npm run build --if-present
        working-directory: ./src/website
      - name: Test
        run: |
          npm test
        working-directory: ./src/website
